.idea/
.vscode/
*.code-workspace
node_modules/
.DS_Store

.idea/
*.iml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/target/**
.mvn/**
out/**

tmp/*
*.tmp
*.exe
*.exe~